table{
    width: 100%;
    height: 300px;
    background-color: black;
}
tr{
    background-color: aliceblue;
    width: 50px;
}
.sal{
    background-color: rgb(4, 93, 120);
    width: 50%;
}
.sol{
    background-color: rgb(3, 78, 3);
    width: 50%;
}